body {
  background-color: #fdfaf3;
}

.container {
  min-width: 320px;
  padding: 0 10px;
  margin: 0 auto;
}

h2 {
  font-family: 'Playfair Display', serif;
  color: #00203a;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 50px;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 22px;
}

@media (max-width: $lg) {
  h4 {
    font-size: 24px;
  }
}

p {
  font-family: 'Raleway', serif;
  font-size: 18px;
  color: #949392;
}

section {
  margin-bottom: 100px !important;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: $lg) {
  .container {
    padding: 0 36px;
  }

  h2 {
    margin-bottom: 30px;
  }
}

@media (max-width: $sm) {
  .container {
    padding: 0 15px;
  }

  h2 {
    text-align: center;
  }
}




