
.first-screen__opening {
  height: 595px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 90px;
  padding-top: 170px;
  padding-bottom: 150px;
}

.first-screen {
  position: relative;
  background: url("../img/main-cover-bg.png") no-repeat, url("../img/main-bg.jpg") no-repeat;
  background-position: left 0px center, center center;
  background-size: 50% 100%, 1170px 595px;
}

.first-screen__social {
  height: 84px;
}


.first-screen__title {
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

.first-screen__slogan {
  color: #fff;
  font-size: 18px;
}

.first-screen__btn {
  background-color: #f8a25a;
  border: none;
  color: #fff;
  display: inline-block;
  &:hover{
    background-color: #e88533;
    color: #fff;
    text-decoration: none;
  };
  &:active {
   color: #fff;
   text-decoration: none;
  };
}

@media (min-width: $xl) {
  .first-screen__btn {
    padding-right: 70px;
    background: url(../img/arrow.png) no-repeat, #f8a25a;
    background-position: center right 15px;
  }
}

@media (max-width: $lg) {


  .first-screen {
    background: url("../img/main-cover-bg-tablet.png") no-repeat, url("../img/main-bg-tablet.jpg") no-repeat;
    background-position: center center, center center;
    background-size: cover, cover;
  }

  .first-screen__opening {
    height: 940px;
    padding-top: 130px;
    padding-bottom: 216px;
    padding-left: 0px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }

  .first-screen__title {
    font-size: 100px;
    line-height: 100px;
    max-width: 660px;
  }

  .first-screen__slogan {
    font-size: 22px;
  }

  .first-screen__btn {
    width: 440px;
    height: 112px;
    font-size: 30px;
    line-height: 112px;
  }
}

@media (max-width: $md - 1) {


  .first-screen {
    background: url("../img/main-cover-bg-tablet.png") no-repeat, url("../img/main-bg-tablet.jpg") no-repeat;
    background-position: center center, center center;
    background-size: cover, cover;
  }

  .first-screen__opening {
    height: 532px;
    padding-top: 90px;
   padding-bottom: 172px;
  }

  .first-screen__title {
    font-size: 48px;
    line-height: 48px;
    max-width: 295px;
  }

  .first-screen__slogan {
    font-size: 18px;
  }

  .first-screen__btn {
    width: 220px;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
  }
}
