.header {
  height: 84px;
  .col {
     display: flex;
  }
}

.header__toggle {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  position: relative;
  z-index: 5000;
}

.header__logo {
  margin: auto;
  width: 63px;
  height: 29px;
  background: url("../img/logo.png");
  background-size: contain;
}


.header__phone {
  text-align: right;
  display: inline-block;
  width: 180px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  background: url(../img/icon-phone.svg) no-repeat;
  background-size: 12px 17px;
  background-position: left 15px center;
}

@media (max-width: $lg) {
  .header {
    height: 166px;
  }

  .header__logo {
    margin-left: 0px;
    margin-right: auto;
    width: 85px;
    height: 46px;
    background: url("../img/logo-tablet.png") no-repeat;
  }

  .header__toggle {
    margin-right: 0px;
    margin-left: auto;
  }
}

@media (max-width: $sm) {
  .header {
    height: 77px;
  }

  .header__logo {
    margin-left: 0px;
    margin-right: auto;
     width: 38px;
    height: 23px;
    background: url("../img/logo-tablet.png") no-repeat;
    background-size: contain;
  }

  .header__toggle {
    margin-right: 0px;
    margin-left: auto;
  }
}





