.logo {
  display: block;
  width: 63px;
  height: 29px;
  background: url("../img/logo.png");
  background-size: contain;
}

@media (max-width: $xl - 1) {
  .logo {
    width: 85px;
    height: 46px;
    background: url("../img/logo-tablet.png") no-repeat;

  }
}

@media (max-width: $md - 1) {
  .logo {
    width: 38px;
    height: 23px;
    background: url("../img/logo-tablet.png") no-repeat;
    background-size: contain;
  }
}

