.portfolio__menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 570px;
}

.portfolio__item {
  list-style: none;
  font-family: 'Raleway', serif;
  display: block;
  height: 40px;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 48px;
  color: #949392;
  text-decoration: none;
  cursor: pointer;
}

.portfolio__item--active {
  border-bottom: 1px solid black;
  color: #00203a;
}

.portfolio__slider {
  width: 100%;
}

.portfolio__living_room_interior {
  background: url("../img/portfolio-interior-1.jpg") no-repeat;
  background-position: center;
    &:hover{
    width: 480px;
    };
}

.portfolio__unknow_interior {
  background: url("../img/portfolio-interior-2.jpg") no-repeat;
  background-position: center;
    &:hover{
    width: 980px;
  };
}

.portfolio__dining_room_interior {
  background: url("../img/portfolio-interior-3.jpg") no-repeat;
   background-position: center;
    &:hover{
    width: 820px;
  };
}

.portfolio__loft_interior {
  background: url("../img/portfolio-interior-4.jpg") no-repeat;
   background-position: center;
    &:hover{
    width: 790px;
  };
}

.portfolio__description {
  position: relative;
  z-index: 2800;
  padding: 20px;
  font-family: 'Raleway', serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: 20px;
}

.portfolio__btn {
  display: none;
  position: relative;
  margin: auto;
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background-color: #fff;
  };
  &::before{
    top: 40px;
    left: 22px;
  };
  &::after{
    transform: rotate(90deg);
    top: 40px;
    left: 22px;
  };
}

@media (max-width: $lg) {
  .portfolio__menu {
    width: 100%;
  }

  .portfolio__item {
    font-size: 22px;
  }

  .slider__item:hover {
    width: 25%;
  }

  .portfolio__item--active {
    border: none;
  }

  .portfolio__slide {
    display: flex;
  }

  .portfolio__description {
    text-align: center;
  }
}


@media (max-width: $sm) {

  .portfolio__menu {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .portfolio__title {
    margin-bottom: 20px;
  }

  .portfolio__item  {
    margin-bottom: 15px;
  }
}

