.social {
  display: flex;
  width: 140px;
  justify-content: space-between;
  align-items: center;
}

.social__item {
  width: 20px;
  height: 20px;
  color: white;
  &:hover {
    color: #f8a25a;
  }
}

.social__icon {
  width: 100%;
  height: 100%;
}



